.RnsDomainDetailComponent {
    color: white;
}

.RnsDomainDetailComponent .domainName {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #00C6B1;
    margin-bottom: 10px;
}

.RnsDomainDetailComponent .domainOwner {
    color: white;
    background-color: #00c6b1;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

.RnsDomainDetailComponent .bold {
    font-weight: bold;
}

.RnsDomainDetailComponent .small-font {
    font-size: 12px;
}

.RnsDomainDetailComponent .domainAvailable {
    color: white;
    background-color: #D43725;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
.RnsDomainDetailComponent .domainResolver {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.resolver-select .resolver-select__control {
    background-color: #5a5658;
    border: none;
    border-radius: 20px;
}

.resolver-select .resolver-select__option {
    color: #5a5658;
}

.resolver-select .resolver-select__placeholder {
    color: white;
}

.resolver-select .resolver-select__single-value {
    color: white;
}

.RnsDomainDetailComponent .domainAddr {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    text-align: left;
}

.RnsDomainDetailComponent .domainAddr .fa-pen-square {
    margin-left: 5px;
    color: #2C73D2;
}

.RnsDomainDetailComponent .domainAddr .fa-check-circle {
    margin-left: 5px;
    color: #00C9A7;
}

.RnsDomainDetailComponent .domainAddr .fa-window-close {
    margin-left: 5px;
    color: #C34A36;
}

.RnsDomainDetailComponent .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.RnsDomainDetailComponent .button-group .btn {
    background-color: green;
    color: white;
    width: 90%;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
}

.RnsDomainDetailComponent .button-group .btn .fas {
    margin-right: 10px;
}

.RnsDomainDetailComponent .pay-btn {
    background-color: green;
    color: white;
    width: 85%;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.RnsDomainDetailComponent .pay-btn .fas {
    margin-right: 10px;
}