.DashboardItemComponent {
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(97, 97, 97, .5);
    border-radius: 20px;
}

.DashboardItemComponent .icon {
    font-size: 35px;
}

.DashboardItemComponent .title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}